<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <title>Hunger Apps</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
  <header class="header">
    <div class="header__inner">
      <h1 href="#" class="header__title">
        Hunger Apps
      </h1>
    </div>
    <a id="menu" class="header__menu" href="#">☰</a>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/ahmadnurfahmi/">About Us</a></li>
    </ul>
  </nav>


  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Bangun Restoranmu Sebagai Aset Masa Depanmu</h1>
      <p class="hero__tagline">Jadilah Pengusaha Yang Memperluas Lapangan Pekerjaan</p>
    </div>
  </div>

  <main id="content">
    <section class="content">
      <div class="latest">
        <h1>Explore Restaurant</h1>
        <div class="posts" id="tes"></div>
      </div>
    </section>
  </main>
  <footer>
    <p>Copyright © 2022 - Hunger Apps</p>
  </footer>
</body>

</html>